@import url("labbook.css");

.codehtml {
	color: #000000;
}


.htmlcomment {
	color: #217527;
}

.htmlkeyword {
	color: #86797f;
}

.htmlstring {
	color: #99150b;
}

.htmlunknown {
	color: #04b2d0;
}

.htmltaghead {
	color: #ff0000;
}

.htmltagstyle {
	color: #417530;
}

.htmltagimages {
	color: #02a8b4;
}

.htmltaglists {
	color: #ff924a;
}

.htmltaganchors {
	color: #0000ff;
}
