.linenumbers {
	color: black;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	cursor: default;
}

.codeblock {
    border: 3px solid rgb(55,96,143);
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0;
	background-color: #FBFBEF;
	overflow: auto;
	border-radius: 5px;
}

.codeblock pre {
	padding: 0.5em 0.8em;
	margin: 0;
}

.codeline {
	font-family: monaco, Consolas, "Lucida Console", monospace;
	font-style: normal;
}

.codeblocktitle {
	color: white;
	font-size: 1.4em;
	font-weight: bold;
	margin-bottom: 0em;
	background-color: rgb(55,96,143);
	padding: 0.5em;
}

.codeblocktitle a {
	color: white;
}


.codeblocktitle a:link {
    text-decoration: none;
}

.codeblocktitle a:visited {
    text-decoration: none;
}

.codeblocktitle a:hover {
    text-decoration: underline;
}

.codeblocktitle a:active {
    text-decoration: underline;
}


.codeold {
	opacity: 0.2;
}

.codehl {
	background-color: yellow;
}
