@import url("labbook.css");

.uscripthash {
	color: #bb10ca;
}

.uscriptcomment {
	color: #a19e89;
}

.uscriptkeyword {
	color: #309794;
}

.uscriptclass {
	color: #3f60a2;
}

.uscriptnumber {
	color: #ed7e21;
}

.uscriptstring {
	color: #ed7e21;
}