@import url("labbook.css");

.swiftcode {
	color: #00;
}

.swiftcomment {
	color: #0e8700;
}

.swiftkeyword {
	color: #bc1aaa;
}

.swiftclass {
	color: #7233aa;
}

.swiftdefined {
	color: #76a1a5;
}

.swiftfunction {
	color: #58238b;
}

.swiftnumber {
	color: #3e00d7;
}

.swiftstring {
	color: #c92b26;
}
