@import url("labbook.css");

/* VisualSource code highlithing */

.code {
	font-family: monaco, Consolas, "Lucida Console", monospace;
	font-size: 80%;
	color: #000000;
	background-color: #ffffff;
}

.codeold {
	opacity: 0.3;
}

.linenumbers {
	color: #000000;
}

.csharpcomment {
	color: #757672;
}

.csharpstring {
	color:  #ed7e21;
}

.csharpkeyword1 {
	color: #108683;
}


.csharpkeyword2 {
	color: #108683;
}

.csharptype {
	color: #284E93;
}

.csharpnumber {
	color: #ed7e21;
}

.functionblock {
	clolor: yellow;
}

